@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Gilda+Display&family=Quicksand:wght@300;400;500;600;700&display=swap");

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #e5745d;
}
.container input {
  border: 1.3px dashed #fff;
  background-color: #e5745d;
  width: 90%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  font-family: "Quicksand", sans-serif;
}
.container input::placeholder {
  color: white;
}
.container input:focus {
  outline: none;
  background-color: #e5745d;
}

.titulo {
  text-align: center;
  width: 100%;
  padding: 5px 15px;
  font-family: "Gilda Display", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 2rem;
}
.btn {
  width: 90%;
  margin: 15px;
  background-color: #fff;
  height: 3rem;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background-color: rgb(248, 255, 230);
}
.btn p {
  font-family: "Francois One", sans-serif;
  color: #e5745d;
  border: 2px dashed #e5745d;
  padding: 0.5rem;
  margin: 0;
}
