@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Gilda+Display&family=Quicksand:wght@300;400;500;600;700&display=swap");

.banner {
  background: #e5745d;
  text-align: center;
  color: whitesmoke;
  padding: 0.5rem;
}
