@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Gilda+Display&family=Quicksand:wght@300;400;500;600;700&display=swap");
.container {
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.imagen {
  grid-area: 1 / 1 / 6 / 2;
  height: 40rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.imagen:hover {
  cursor: zoom-in;
}
.carrousel {
  grid-area: 6 / 1 / 7 / 2;
  background-color: white;
  display: flex;
}
.carrousel:hover {
  cursor: pointer;
}

.detalle {
  grid-area: 1 / 2 / 7 / 3;
}

.detPrecio {
  color: var(--azul);
  font-family: var(--fran);
}
.detRanking {
  color: var(--rojo);
  font-family: var(--fran);
}
.detTexto {
  color: gray;
}

.imagen_carro {
  margin-right: 1rem;
  height: 9rem;
  width: 9rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.wishlist {
  display: flex;
  gap: 0.3rem;
  color: gray;
  margin: 1rem 0;
}
.wishlist p:last-child {
  color: var(--azul);
  font-family: var(--fran);
}
