@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Gilda+Display&family=Quicksand:wght@300;400;500;600;700&display=swap");
.container {
  width: 100%;
  display: flex;
  position: relative;
}

.container input {
  width: 90%;
  border-top: 3px dashed gray;
  border-left: 3px dashed gray;
  border-bottom: 3px dashed gray;
  border-right: none;
  padding: 0 1rem;
  font-family: "Quicksand", sans-serif;
}
.container input:focus {
  outline: none;
}

.contenedor_img {
  background-color: #e5745d;
  align-items: center;
  padding: 0.3rem;
}
.imagen {
  align-items: center;
  border: 1.5px dashed white;
  margin-top: 0.2rem;
}
.resultado {
  border: 1px solid gray;
  width: 85%;
  position: absolute;
  top: 2rem;
  background-color: rgb(247, 245, 245);
  font-family: var(--fran);
  color: var(--azul);
  margin: 0 0.7rem;
  padding: 0 0.5rem;
  text-transform: capitalize;
}
