@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Gilda+Display&family=Quicksand:wght@300;400;500;600;700&display=swap");
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  margin-bottom: 2rem;
}

.imagen {
  grid-area: 1 / 1 / 5 / 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.datos {
  display: flex;
  flex-direction: column;
}

.datos p {
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}
.categoria {
  font-family: "Quicksand", sans-serif;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0.5rem 0;
  color: #e5745d;
}

.nombre {
  font-family: "Gilda Display", sans-serif;
  color: #486683;
  margin: 0.5rem 0;
  padding: 0;
}

.precio {
  font-family: "Francois One", sans-serif;
  font-weight: 700;
  color: var(--azul);
  margin: 0.5rem 0;
}

#addToCart {
  width: 100%;
  height: 0;
  margin: 0;
  background-color: #e5745d;
}
.addToCart_datos {
  font-family: "Francois One", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 1rem 0.5rem;
  border: 2px dashed #fff;
  color: #fff;
}

.imagen:hover > #addToCart {
  width: 100%;
  height: 4.5rem;
  margin: 0;
  background-color: #e5745d;
  transition: height 0.7s;
  display: block;
}
