@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Gilda+Display&family=Quicksand:wght@300;400;500;600;700&display=swap");
.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.bar {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  color: #fff;
}
.bar li {
  padding: 0 0.7rem;
  font-family: "Francois One", sans-serif;
  font-size: 0.7rem;
  font-weight: 100;
  color: #fff;
}
