.container {
  margin: var(--Marco);
}
.Categorias_Productos {
  display: grid;
  grid-template-columns: 1.5fr repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.categorias {
  grid-area: 1 / 1 / 5 / 2;
  margin: 0 1rem;
}

.Productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
